.container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  /* background: #eee; */
  /* color: black; */
}
.container ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.container li {
  list-style: none;
  font-size: 14px;
  font-weight: bold;
  color: darkgray;
  cursor: pointer;
  /* text-decoration: underline; */
  margin: 5px;
}
.container li:hover {
  color: darkslateblue;
}
@media (min-width: 600px) {
  .container ul {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .container li {
    margin-right: 10px;
  }
}
